$color-primary: #DE093C;
$color-accent: #25090e;
$color-dark: #000000;
// $color-primary: #fd4654;
// $color-accent: #2c1e28;
// $color-dark: #0e1822;
$nav-height: 100px;

@import './scrollbar.scss';

body {
  background: $color-dark;
  color: white;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: $color-primary;
}

::selection {
  color: white;
  background: $color-primary;
}
